.env
.venv/
__pycache__/
*.pyc
*.log

.DS_Store
.AppleDouble
.LSOverride

# Xcode
KLMS-to-Todo/*.xcodeproj/xcuserdata/
KLMS-to-Todo/*.xcodeproj/project.xcworkspace/xcuserdata/
KLMS-to-Todo/DerivedData/
